{% extends "base.html" %}
{% block content %}
    <section class="container">
        <h1>Compra de criptos</h1>
        <form action="{% url 'purchase' %}" method="post">
            {% csrf_token %}
            {{ form.cantidad_to }}

            <div id="form-container">
                <div class="form-column">
                    {{ form.from_currency.label(class="custom-select-class1") }}
                    {{ form.from_currency(class="custom-select-class") }}
                    {{ form.cantidad_from.label(class="custom-select-class1")}}
                    {{ form.cantidad_from(class="custom-select-class") }}

                    {{ form.calculate }}
                </div>
                <div class="form-column">
                    {{ form.to_currency.label(class="custom-select-class1") }}
                    {{ form.to_currency(class="custom-select-class") }}

                    {% if form.cantidad_to.data %}
                        <p>Cantidad: {{ form.cantidad_to.data }} - {{ form.to_currency.data }}</p>
                    {% endif %}

                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </form>
    </section>
{% endblock %}