{% extends "base.html" %}
{% block content %}

    <section>
        <h1 align="center">ESTADO DE LA INVERSIÓN</h1>
        <table class="container">
            <tr>
                <th>Moneda</th>
                <th>Cantidad</th>
                <th>Valor en euros</th>
            </tr>
            {% if hay_saldo %}
                  {% for moneda in conversion %}
                  {% if moneda[0] != 'EUR' and moneda[1] > 0 %}
                    <tr>
                        <td>{{ moneda[0] }}</td>
                        <td>{{ moneda[1] }}</td>
                        <td>{{ moneda[2]|round(2) }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3" align="center">No hay movimientos todavía. Pulsa el link "Compra" para iniciar el juego</td>
                </tr>
            {% endif %}
        </table>
        <div class="container">            
            <div class="container1">                
                <p>Valor total de la inversión en euros: {{ total_inversion|round(2) }} - €</p>
                <p>Precio de compra: {{ precio_compra|round(2)}} - €</p>
                <p>Resultado de la inversión:  {{ total_inversion + precio_compra|round(2) }} - €</p>
            </div>
        </div>
    </section>

{% endblock %}
